

<main>
    <section id="section-banner">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/arcade.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/pubg.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/beluga.png" class="d-block w-100" alt="Beluga Programador!">
                </div>
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    
    <h2> Jogos Promocionais </h2>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/image.jpeg" alt="Photo of a Shiba Inu">
                     
                <mat-card-header>         
                  <mat-card-title> Jogo 1</mat-card-title>         
                </mat-card-header>
                
                <mat-card-content>       
                  <p>
                    Descrição do item
                  </p>
                </mat-card-content>
        
                <mat-card-actions>
                    <p>R$ 300,00</p>                 
                  <button mat-button>Só Pix</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/image.jpeg" alt="Photo of a Shiba Inu">
                     
                <mat-card-header>         
                  <mat-card-title> Jogo 2</mat-card-title>         
                </mat-card-header>                
                <mat-card-content>       
                  <p>
                    Descrição do item
                  </p>
                </mat-card-content>
        
                <mat-card-actions>
                    <p>R$ 300,00</p>                 
                  <button mat-button>Só Pix</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/image.jpeg" alt="Photo of a Shiba Inu">
                     
                <mat-card-header>         
                  <mat-card-title> Jogo 3</mat-card-title>         
                </mat-card-header>
                
                <mat-card-content>       
                  <p>
                    Descrição do item
                  </p>
                </mat-card-content>
        
                <mat-card-actions>
                    <p>R$ 300,00</p>            
                  <button mat-button>Só Pix</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>   
    </mat-grid-list>     
      
</main>